body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}

header{
    background: grey;
    grid-column: 1 / 4;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}
.navigation li {
	flex: 1 1 auto;
}
.navigation a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}
main {
    background: lightgray;
    grid-column: 1/2;
}

div{
    background: whitesmoke;
    padding: 1rem;
    grid-column: 2/4;
}

footer {
    background: grey;
    padding: 2rem;
    text-align: center;
    grid-column: 1/4;
}